.contact {
  position: relative;
  background: linear-gradient(
    90deg,
    $ui-color-secondary 50%,
    $ui-color-primary 50%
  );
  color: $text-color-tertiary;

  &::before {
    content: '';
    height: 1px;
    position: absolute;
    background: #7998bd;
    width: 50%;
    bottom: 0;
    left: 0;
  }
}

.contact__ui-wrapper {
  background: $ui-color-secondary;
  border-radius: 0 200px 0 0;
}

.contact__inner {
  padding-right: 80px;
}

.contact__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 91px 0 96px;
  border-bottom: 1px solid #7998bd;
}

.contact__text {
  margin-right: 40px;
  max-width: 460px;
}

.contact__title {
  color: $title-color-secondary;
  margin-bottom: 32px;
  max-width: 320px;
}

.contact__description {
  color: $text-color-secondary;
}

.contact__button {
  min-width: 220px;
  border: none;
}

@media (max-width: 800px) {
  .contact__inner {
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  .contact {
    background: $ui-color-primary;

    &::before {
      width: 100%;
    }
  }

  .contact__content {
    text-align: center;
    display: block;
    padding: 70px 0;
  }

  .contact__text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .contact__ui-wrapper {
    border-radius: 70px 70px 0 0;
  }
}
