body {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.8;
  color: $text-color-primary;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

.wide-container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  border-radius: $border-radius;
  background: $ui-color-primary;
  color: $text-color-tertiary;
  padding: 15px;
  position: relative;
  overflow: hidden;
  transition: background 0.25s;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      $ui-color-primary,
      darken($ui-color-primary, 15%)
    );
    z-index: -1;
  }

  &:hover {
    background: transparent;
  }
}

.title {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 1.8;
  font-weight: 600;
}
