body {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.8;
  color: $text-color-primary;
}

.body {
  position: relative;
  &--hidden {
    overflow: hidden;
  }
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

.wide-container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  border-radius: $border-radius;
  background: $ui-color-primary;
  color: $text-color-tertiary;
  padding: 15px;
  position: relative;
  overflow: hidden;
  transition: background 0.25s;
  letter-spacing: 0.64px;

  &:hover {
    background: darken($ui-color-primary, 15%);
  }
}

.title {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 1.8;
  font-weight: 600;
  color: $title-color-tertiary;
}

@media (max-width: 600px) {
  .title {
    font-size: 30px;
    line-height: 40px;
  }
}
