$text-color-primary: rgba(#1f3f68, 0.6);
$text-color-secondary: rgba(#fff, 0.6);
$text-color-tertiary: #fff;

$title-color-primary: #1f3f68;
$title-color-secondary: #fff;
$title-color-tertiary: #316099;

$ui-color-primary: #5a98d0;
$ui-color-secondary: #316099;

$link-color: #5a98d0;

$border-radius: 10px;
